# Use persistent storage for Prometheus in AWS
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: ai-finops
spec:
  template:
    spec:
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: prometheus-storage